/* Background color     - rgba(13, 17, 23, 1) */
/* Header color         - #58a6ff */
/* Standard text color  - #c9d1d9 */

/* * =============== Animations =============== * */

/* ===== Slide In ===== */
@keyframes titleSlideDown {
  0% {
    opacity: 0%;
    transform: translateY(-70%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* * =============== Page Format =============== * * /
/* ===== Background Styling ===== */
body {
  width: 100%;
  height: 100vh;
  /* GIF Image "https://www.youtube.com/watch?v=JEGoUAfnJp0"*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url(../img/stock/register-neon-city.gif), repeat-y, center, fixed;
  background-blend-mode: multiply;
  background-size: cover;
}

/* ===== Text Styling ===== */
/* Title */
form h3 {
  color: rgba(39, 238, 245, 0.85);
  font-family: "Games", sans-serif;
  font-size: 2rem;
  animation: glow-2 1s ease-in-out infinite alternate;

  margin-bottom: 4vh;
}

/* * =============== Form =============== * */
.col form {
  background-color: rgba(13, 17, 23, 0.9);
  border: 2px outset #58a6ff;
  border-radius: 20px;

  margin: auto;
  margin-top: 3vh;
  padding: 5%;
  width: 50vw;
  height: clamp(fit-content, 70vh, 70vh);
  font-size: 12px;
}

.form-group {
  height: 40px;
  margin-top: 4vh;
  margin-bottom: 5px;
}

.btn-dark {
  margin-top: 4vh;
}