/* Background color     - rgba(13, 17, 23, 1) */
/* Header color         - #58a6ff */
/* Standard text color  - #c9d1d9 */

/* * Glow Animations * */
@keyframes glow-1 {
  from {
    text-shadow: 0 0 10px #90d7e7, 0 0 20px #90d7e7, 0 0 30px #58a6ff,
      0 0 40px #58a6ff, 0 0 50px #58a6ff, 0 0 60px #58a6ff, 0 0 70px #58a6ff;
  }

  to {
    text-shadow: 0 0 20px #90d7e7, 0 0 30px #90d7e7, 0 0 40px #90d7e7,
      0 0 50px #90d7e7, 0 0 60px #90d7e7, 0 0 70px #90d7e7, 0 0 80px #90d7e7;
  }
}

/* * Background Styling * */
body {
  /* GIF Image */
  background-image: url(../img/stock/neon-drive.gif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Tint */
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
}

/* * Text Styling * */
/* Font */
@font-face {
  font-family: "Games";
  src: url(../font/Games.ttf);
}

/* General */
h1, h2, h3, h4, h5, h6, legend {
  color: #58a6ff;
}

/* Title */
.display-4 {
  margin-top: 3%;
  color: rgba(39, 238, 245, 0.85);
  font-family: "Games", sans-serif;
  animation: glow-1 1s ease-in-out infinite alternate;
}

.col h3 {
  font-family: "Games", sans-serif;
  margin: -10% auto 5%;
}

/* * Navbar * */
.nav-item {
  color: #58a6ff;
}

/* TODO: Change color  */
.nav-link:hover {
  font-size: 150%;
  color: #c3f1f7;
  cursor: pointer;
  animation: glow-2 1s ease-in-out infinite alternate;
}

/* * Buttons * */
.btn-info {
  border: none;
  background-color: #58a6ff;
}

label {
  color: #c9d1d9;
}

/* - = - = - = - = - = - = - = - */
.homepage {
  height: inherit;
}

.d-height {
  height: 100vh;
}

.c-container {
  text-align: center;
}

.login-screen {
  height: inherit;
}

/* * Form Styling * */
form {
  background-color: rgba(13, 17, 23, 0.9);
  border: 2px solid #58a6ff;
  padding: 5%;
  border-style: outset;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 50%;
}