/* Background color     - rgba(13, 17, 23, 1) */
/* Header color         - #58a6ff */
/* Standard text color  - #c9d1d9 */

/* * =============== Animations =============== * */
/* ===== Glows ===== */
/* Sourced from w3schools Glowing Text "https://www.w3schools.com/howto/howto_css_glowing_text.asp" */
@keyframes glow-1 {
  from {
    text-shadow: 
    0 0 10px #90d7e7, 0 0 20px #90d7e7, 
    0 0 30px #58a6ff, 0 0 40px #58a6ff, 
    0 0 50px #58a6ff, 0 0 60px #58a6ff, 
    0 0 70px #58a6ff;
  }

  to {
    text-shadow: 
    0 0 20px #90d7e7, 0 0 30px #90d7e7, 
    0 0 40px #90d7e7, 0 0 50px #90d7e7, 
    0 0 60px #90d7e7, 0 0 70px #90d7e7, 
    0 0 80px #90d7e7;
  }
}
@keyframes glow-2 {
  from {
    text-shadow: 
    0 0 4px rgba(39, 191, 245, 0.3), 0 0 6px rgba(39, 191, 245, 0.3), 
    0 0 8px rgba(39, 191, 245, 0.3), 0 0 10px rgba(39, 191, 245, 0.3), 
    0 0 12px rgba(39, 191, 245, 0.3), 0 0 14px rgba(39, 191, 245, 0.3), 
    0 0 16px rgba(39, 191, 245, 0.3);
  }

  to {
    text-shadow: 
    0 0 2px rgba(39, 191, 245, 0.3), 0 0 4px rgba(39, 191, 245, 0.3), 
    0 0 6px rgba(39, 157, 245, 0.67), 0 0 8px rgba(39, 157, 245, 0.67), 
    0 0 10px rgba(39, 157, 245, 0.67), 0 0 12px rgba(39, 157, 245, 0.67), 
    0 0 14px rgba(39, 157, 245, 0.67);
  }
}

/* ===== Slide In ===== */
@keyframes titleSlideDown {
  0% {
    opacity: 0%;
    transform: translateY(-50%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0%;
    transform: translateY(5%);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

/* * =============== General =============== * */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, legend {
  color: #58a6ff;
}

.homepage {
  height: inherit;
}

.d-height {
  height: 100vh;
}

.c-container {
  text-align: center;
} 

.login-screen {
  height: inherit;
}

/* ===== Font ===== */
@font-face {
  font-family: "Games";
  src: url(../font/Games.ttf);
}

/* ===== Buttons ===== */
/* "Quick Play" */
.btn-info {
  border: none;
  background-color: #58a6ff;
}

label {
  color: #c9d1d9;
}

/* * =============== Page Format =============== * * /
/* ===== Background Styling ===== */
.main {
  position: absolute;
  width: 100%;
  height: 100%;
  /* GIF Image "https://www.youtube.com/watch?v=JEGoUAfnJp0"*/
  background: rgba(0, 0, 0, 0.8) url(../img/stock/neon-drive.gif) no-repeat center;
  background-blend-mode: multiply;
  background-size: cover;
}

/* ===== Text Styling ===== */
/* Title */
.display-4 {
  margin-top: 3%;
  color: rgba(39, 238, 245, 0.85);
  font-family: "Games", sans-serif;
  animation: glow-1 1s ease-in-out infinite alternate, 1s ease-out titleSlideDown;
  animation-fill-mode: forwards;
  opacity: 0;
}

/* "Login" */
.col h3 {
  font-family: "Games", sans-serif;
  margin: -10% auto 5%;
}

/* * =============== Navbar =============== * */
.nav-item {
  color: #58a6ff;
  transition: all 0.2s;
}

.nav-item span {
  transition: 0.2s;
}

/* ===== Hover ===== */
.nav-item span:after {
  transition: 0.2s;
}

.nav-link:hover {
  font-size: 150%;
  color: #c3f1f7;
  cursor: pointer;
  animation: glow-2 1s ease-in-out infinite alternate;
}

.nav-item:hover span:after {
  opacity: 1;
}

/* * =============== Form =============== * */
form {
  background-color: rgba(13, 17, 23, 0.9);
  border: 2px outset #58a6ff;
  border-radius: 20px;
  margin: 10% auto 15% auto;
  padding: 5%;
  width: 50%;

  /* ===== Animation ===== */
  animation: 0.8s ease-out 0.8s slideInFromBottom;
  animation-fill-mode: forwards;
  opacity: 0;
}