/* Background color     - rgba(13, 17, 23, 1) */ 
/* Header color         - #58a6ff */
/* Standard text color  - #c9d1d9 */

body {
  background-color: rgba(13, 17, 23, 1);
}

h1, h2, h3, h4, h5, h6, legend {
  color: #58a6ff;
}

label {
  color: #c9d1d9;
}

.homepage { 
  height: 100vh;
}

form {
  border: 2px solid #58a6ff;
  padding: 20px;
  border-style: outset;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.c-container {
  text-align: center;
}

/* TODO: Change color  */
.nav-link:hover {
  font-size: 150%;
  color: rgb(139, 143, 102);
}

