{% extends 'base.html' %}

{% block customScripts %}
  <!-- Contact CSS -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/contactsStyle.css') }}">
  <!-- JavaScript -->
  <!-- <script src="assets/js/script.js"></script> -->
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}
  <div class="main">

    <!-- Contacts Form -->
    <!-- TODO: implement form via form-wtf chapter 3 of the mega flak tutorial  -->
    <div class="container-fluid contact-form">
        <form method="post">
            <h3>Drop Us a Message</h3>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.username(size=32, class="form-control", id="uName", placeholder="Username") }}
                        {% if form.username.errors %}
                         <span style="color: red;">Username Required</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email(size=64, class="form-control", id="email", placeholder="Email") }}
                        {% if form.email.errors %}
                         <span style="color: red;">Email Required</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.phone(size=10, class="form-control", id="phone", placeholder="Phone Number") }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        {{ form.message(size=10, class="form-control", id="txtMsg", placeholder="Your Message", style="width: 100%; height: 150px;") }}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ form.submit(class="btn btn-lg btn-info") }}
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock %}