{% extends 'base.html' %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/gameSytle.css') }}">
  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='assets/js/gameScript.js') }}"></script>
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}
  <div class="container" >
    <div class="game-box">
    
      <div class="row">

        <div class="col-lg-5">
          <div class="stat-interface">

            <h3>Progress</h3>

            <div id="hide-four">
              <div class="progress">
                <div class="progress-bar progress-bar-striped" id="bar-four" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>4 LETTERS</h6>
              <p class="progress-words" id="bar-four-words"></p>
            </div>

            <div id="hide-five">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" id="bar-five" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>5 LETTERS</h6>
              <p class="progress-words" id="bar-five-words"></p>
            </div>

            <div id="hide-six">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-info" id="bar-six" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>6 LETTERS</h6>
              <p class="progress-words" id="bar-six-words"></p>
            </div>

            <div id="hide-seven">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" id="bar-seven" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>7 LETTERS</h6>
              <p class="progress-words" id="bar-seven-words"></p>
            </div>

            <div id="hide-eight">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" id="bar-eight" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>8 LETTERS</h6>
              <p class="progress-words" id="bar-eight-words"></p>
            </div>

            <div id="hide-nine">
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-danger" id="bar-root_word" 
                    role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                <small class="justify-content-center d-flex position-absolute" style="color: black;">0% complete</small>
              </div>
              <h6>9 LETTERS</h6>
              <p class="progress-words" id="bar-root_word-words"></p>
            </div>

          </div>
        </div>

        <div class="col-lg-7">
          <div>
            <h1>Anagram-City</h1>
          </div>
          <div class="guess-interface">
            <div class="current-guess" id="current-guess" contentEditable="false" data-text=></div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="container keyboard-container">
          <div class="keyboard">
            <button class="keys main-tile" id="root-letter"></button>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="container keyboard-container">
          <div class="keyboard">
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys letter"></button>
            <button class="keys keys-special" enabled="">Delete</button>
            <button class="keys keys-special" enabled="">Enter</button>
          </div>
        </div>  
      </div>

    </div>
  </div>

  <div class="modal fade" id="new-game-modal" tabindex="-1"  aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Caution</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Your current progress will be lost
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="init(true)">Reset</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}