{% extends "base.html" %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/indexStyle.css') }}">
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
      <!-- Header -->
      <div class="jumbotron">
        <div class="container c-container">
          <h1 class="display-4 games-font">Welcome to</h1> 
          <h1 id="title" class="titleGame games-font">Anagram-City!</h1>
        </div>
      </div>  

      <!-- Form Section -->
      <section class="container-fluid homepage ">
        <div class="login-screen text-center align-items-center">
          <div class="loginForm">
              <form id="loginDetails" method="post" novalidate>
                {{ form.hidden_tag() }}
                <h3 class="games-font">Login</h3>
                <div class="form-group">
                  {{ form.username(size=32, class="form-control", id="uName", placeholder="Username") }}
                  {% if form.username.errors %}
                  <span style="color: red;">Username Required</span>
                  {% endif %}
                </div><br>

                <div class="form-group">
                  {{ form.password(size=32, class="form-control", id="pwd", placeholder="Password") }}
                  {% if form.password.errors %}
                  <span style="color: red;">Password Required</span>
                  {% endif %}
                </div><br>
                
                <div class="checkbox">
                  {{ form.remember_me() }} {{ form.remember_me.label }}
                </div><br>
                {{ form.submit(class="btn btn-dark") }}
                <a class="btn btn-dark" href="{{ url_for('register') }}"><span>Create Account</span></a><br>
                <a class="btn btn-lg btn-info" href="{{ url_for('game') }}"><span>Quick Play</span></a>
              </form>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}