{% extends "base.html" %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/indexStyle.css') }}">
  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}

<div class="main">
    <div class="container">
      <!-- Header -->
      <div class="jumbotron">
        <div class="container c-container">
          <h1 class="display-4 games-font">Welcome to</h1> 
          <h1 class="titleGame games-font">Anagram-City!</h1>
        </div>
      </div>  

      <!-- Form Section -->
      <section class="container-fluid homepage ">
        <div class="row login-screen text-center align-items-center">
          <div class="loginForm">
            <div class="col">
              <form id="loginDetails" action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <h3>Login</h3>
                <div class="form-group">
                  {{ form.username.label }}<br>
                  {{ form.username(size=32, class="form-control", id="uName") }}<br>
                  {% for error in form.username.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div><br>

                <div class="form-group">
                  {{ form.password.label }}<br>
                  {{ form.password(size=32, class="form-control", id="pwd") }}<br>
                  {% for error in form.password.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div><br>
                
                <div class="checkbox">
                  {{ form.remember_me() }} {{ form.remember_me.label }}
                </div><br>
                {{ form.submit(class="btn btn-dark") }}
                
                <button type="submit" class="btn btn-dark" formaction="{{ url_for('register') }}"><span>Create Account</span></button><br>
                <button type="submit" class="btn btn-lg btn-info" formaction="{{ url_for('game') }}"><span>Quick Play</span></button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}