{% extends "base.html" %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="./static/assets/style/indexStyle.css">
  <!-- JavaScript -->
  <script src="./static/assets/js/script.js"></script>
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="./static/assets/img/stock/favicon-32x32.png">
{% endblock %}

{% block content %}

  <div class="main">
    <div class="container">
      <!-- Header -->
      <div class="jumbotron">
        <div class="container c-container">
          <h1 class="display-4">Welcome to Anagram-City!</h1>
        </div>
      </div>  

      <!-- navbar -->
      <ul class="nav justify-content-center fixed-bottom hero-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page"><span>Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#how-to-play-modal"><span>How to play</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><span>GitHub</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('contacts') }}"><span>Contact Us</span></a>
        </li>
      </ul>

      <!-- Form Section -->
      <section class="container-fluid homepage ">
        <div class="row login-screen text-center align-items-center">
          <div class="loginForm">
            <div class="col">
              <form id="loginDetails">
                <h3>Login</h3>
                <div class="form-group">
                  <input type="text" class="form-control" id="uName" placeholder="Username">
                </div><br>

                <div class="form-group">
                  <input type="password" class="form-control" id="pwd" placeholder="Password">
                </div><br>
                
                <div class="checkbox">
                  <label><input type="checkbox">Remember Me</label>
                </div><br>
                <!-- TODO implement form via form-wtf chapter 3 of the mega flak tutorial -->
                <button type="submit" class="btn btn-dark" onclick="formSubmit()">Submit</button>

                <button type="submit" class="btn btn-dark" onclick="formSubmit()">Create Account</button><br><br>

                <button type="submit" class="btn btn-lg btn-info" formaction="{{ url_for('game') }}"><span>Quick Play</span></button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}