{% extends "base.html" %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/registerStyle.css') }}">
  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}
  <div class="main">
    <div class="container">

      <!-- Form Section -->
      <section class="container-fluid homepage ">
        <div class="row login-screen text-center align-items-center">
          <div class="loginForm">
            <div class="col">
                <form id="loginDetails" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <h3>Register</h3>
                        <div class="form-group">
                            {{ form.username(size=32, class="form-control", id="uName", placeholder="Username") }}
                            {% if form.username.errors %}
                            <span style="color: red;">Username Taken..</span>
                            {% endif %}
                        </div><br>

                        <div class="form-group">
                            {{ form.email(size=64, class="form-control", id="email", placeholder="Email") }}
                            {% if form.email.errors %}
                            <span style="color: red;">Email Not Vaild</span>
                            {% endif %}
                        </div><br>

                        <div class="form-group">
                            {{ form.password(size=32, class="form-control", id="pwd", placeholder="Password") }}
                            {% if form.password.errors %}
                            <span style="color: red;">Password Not Secure Enough</span>
                            {% endif %}
                        </div><br>

                        <div class="form-group">
                            {{ form.password2(size=32, class="form-control", id="pwdtwo", placeholder="Re-Enter Password") }}
                            {% if form.password2.errors %}
                            <span style="color: red;">Password does not match</span>
                            {% endif %}
                        </div><br>
                        {{ form.submit(class="btn btn-dark") }}
                    </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

{% endblock %}