{% extends 'base.html' %}

{% block customScripts %}
  <!-- custom css -->
  <link rel="stylesheet" 
        href="{{ url_for('static', filename='assets/style/stats.css') }}">
  <!-- JavaScript -->
  <script src="{{ url_for('static', filename='assets/js/statScript.js') }}"></script>
  <!-- flavicon -->
  <link rel="icon" 
        type="images/x-icon" 
        href="{{ url_for('static', filename='assets/img/stock/favicon-32x32.png') }}">
{% endblock %}

{% block content %}
<h4>Logged in as {{ current_user.username }}</h4>

  <div class="jumbotron text-center">
    <h1>World Leaderboard</h1>
  </div>

  <div class="container-fluid content">

    <div class="form-outline mb-4">
      <input type="search" class="form-control" id="datatable-search-input" placeholder="Search">
      <button class="btn btn-primary" id="search-btn" type="button">Submit</button>
    </div>

    <div id="datatable">

    </div>
    
  </div>

{% endblock %}